body{
    font-family: "Roboto";
}

.containar{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

.header-section{
    background-color: #FFFFFF;
    text-align: center;
}

.header-section .containar{
    display: flex;
    
}

.header-pages{
    margin-top: 32px;
    margin-right: 335px;
    margin-left: 93px;
    text-align: center;
    display: flex;
}

.header-page{
    margin-right: 50px;
}

.header-contacts{
    margin-top: 32px;
    text-align: center;
    display: flex;
}

.header-contact{
    margin-right: 50;
}

.Web{
    margin-top: 24px;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
}

.header-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.header-link{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

.header-link:hover{
    color: #2196F3;
}

.contact-link:hover{
    color: #2196F3;
}

.contact-link{
    font-weight: 500;
    font-size: 14px;
    color: #212121;
    
}

.main-containar{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

.buttons-list{
    padding-right: 494px;
    padding-left: 495px;
    text-align: center;
    display: flex;
}

.buttons-button{
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 23px;
    
}

.buttons-button:hover{
    background-color: #2196F3;
}

.poster-item{
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}

.poster-list{
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 56px;
    padding-bottom: 94px;
}

.footer{
    background: #2F303A;
}

.footer-containar{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

.footer-address{
    font-weight: 400;
    font-size: 14px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
}

.footer-link{
    font-weight: 400;
    font-size: 14px;
    color: rgba(255, 255, 255, 0.6);
    text-align: center;
    display: flex;
}

.footer-link:hover{
    color: #2196F3;
    text-align: center;
    display: flex;
}

.footer-Web{
    margin-top: 24px;
    margin-bottom: 25px;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: #2196F3;
    text-align: center;
    display: flex;
}

.footer-logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    color: black;
    text-align: center;
    display: flex;
}