.buttons__list {
    padding-right: 494px;
    padding-left: 495px;
    text-align: center;
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
}

.buttons__button {
    padding-top: 6px;
    padding-bottom: 6px;
    padding-left: 22px;
    padding-right: 23px;
}

.buttons__button:hover {
    background-color: #2196f3;
}