
.header {
    background-color: #ffffff;
    text-align: center;
}

@media screen and (max-width: 980px){
    .header {
        background-color: #ffffff;
        text-align: center;
        width: 480;
    }
}

.header .containar {
    //     min-width: 1024px;
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        outline: solid red;
    }

    @media screen and (max-width: 980px){
    .header .containar {
            width: 442px;
            padding-left: 15px;
            padding-right: 23px;
            margin-left: auto;
            margin-right: auto;
            outline: solid red;
    }
}

    .header__pages {
        margin-top: 32px;
        margin-right: 335px;
        margin-left: 93px;
        text-align: center;
        display: flex;
    }

    .header__icon {
        height: 12px;
        width: 16px;
        margin-right: 10px;
    }

.header__page:not(:first-child) {
    margin-left: 55px;
}

.header__contacts {
    margin-top: 32px;
    text-align: center;
    display: flex;
}

// .header__contact {
//     margin-right: 50px;
// }

@media screen and (max-width: 980px){
    .header__web {
        width: 134px;
        height: 28px;
        margin-top: 16px;
        margin-bottom: 16px;
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        color: #2196f3;
    }
}

.header__web {
    margin-top: 24px;
    margin-bottom: 25px;
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    color: #2196f3;
}


@media screen and (max-width: 980px){
    .header__logo {
        font-family: "Raleway";
        font-weight: 700;
        font-size: 26px;
        color: black;
    }
}

.header__logo {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    color: black;
}

.header__link {
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}

.header__link:hover {
    color: #2196f3;
}

.contact__link:hover {
    color: #2196f3;
}

.contact__link {
    display: flex;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    color: #212121;
}