.poster__item {
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    color: #212121;
}

.poster__list {
    margin-left: 215px;
    margin-right: 215px;
    margin-top: 56px;
    padding-bottom: 94px;
}