.client {
    background-color: white;
}

.client__button {
    margin-bottom: 154px;
    margin-left: 15px;
    margin-top: 50px;
    box-sizing: border-box;
    width: 170px;
    height: 90px;
    border: 1px solid #afb1b8;
    border-radius: 4px;
}

.client__button:hover {
    box-sizing: border-box;
    width: 170px;
    height: 90px;
    border: 1px solid #2196f3;
    border-radius: 4px;
}

.client__svg:hover {
    color: #2196f3;
}

.client__logo1 {
    width: 44.27px;
    height: 49.23px;
}

.client__logo2 {
    width: 40px;
    height: 52px;
}

.client__logo3 {
    width: 41px;
    height: 42.6px;
}

.client__logo4 {
    width: 79.66px;
    height: 42.02px;
}

.client__logo5 {
    width: 59px;
    height: 47px;
}

.client__logo6 {
    width: 88.48px;
    height: 45.44px;
}

.client__logo2:hover {
    color: #2196f3;
}

.client__logo3:hover {
    color: #2196f3;
}

.client__logo4:hover {
    color: #2196f3;
}

.client__logo5:hover {
    color: #2196f3;
}

.client__logo6:hover {
    color: #2196f3;
}