.qualities {
    background: #ffffff;
    padding-top: 94px;
    padding-bottom: 94px;
}

.qualities__list {
    display: flex;
}

.qualities__item {
    margin-right: 30px;
}

.qualities__title {
    margin-top: 10px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;
    
}

.qualities__text {
    margin-top: 10px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
    color: #757575;
}