.work__list {
    gap: 30px;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.work__img {
    width: 370px;
}

.work__item {
    position: relative;
}

@media screen and (max-width: 425px){
    .work__item {
        position: relative;
        display: block;
    }    
}

.work__text {
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0px;
    background: rgba(47, 48, 58, 0.8);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.work {
    padding-bottom: 94px;
    background: #ffffff;
}

.work__title {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    color: #212121;
    text-align: center;
}

@media screen and (max-width: 425px){

}