body {
    font-family: "Roboto";
}

.containar {
//     min-width: 1024px;
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    outline: solid red;
}

@media screen (min-width: 768px){
    .containar {
        width: 442px;
        padding-left: 15px;
        padding-right: 23px;
        margin-left: auto;
        margin-right: auto;
        outline: solid red;
    } 
}

@media screen (max-width: 425px){
    .containar {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        outline: solid red;
    } 
}

@media screen (min-width: 1024px){
    .containar {
        width: 1200px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        outline: solid red;
    } 
}